/* src/components/RegisterForm.module.css */

.conteiner {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  display:flex;
  justify-content: center;
  margin: 10px;
  width: 86%;
  height: 30px;
  padding: 5px;
}

.registerForm {
  /* margin-left: 10px; */
  /* background-color: #005eff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* z-index: 2001; */
}

.inputField {
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.inputField:focus {
  outline: none;
  border-color: #007aff;
  box-shadow: 0 0 4px rgba(0, 122, 255, 0.5);
}

.submitBtn {
  width: 50%;
  margin: 15px 10px 10px 0;
  background-color: #1f9238;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background-color: #005eff;
}

.formTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 1rem;
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

/* ВЫБОР ФОТО АВАТАР */

.fileInputContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hiddenFileInput {
  visibility: hidden; /* Скрываем стандартное поле ввода */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.fileInputButton {
  margin: 10px 10px 10px 0;
  background-color: #437ebd;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.fileInputButton:hover {
  background-color: #005eff;
}
/* ВЫБОР ФОТО АВАТАР */
