/* components/Header.module.css */
.h2 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	padding-bottom: 15px;
	color: #0c4d20;
}

.fieldConteiner {
	margin: 20px;
	background-color: aqua;
	color: aqua;
}

/* ==== ЧЕК БОКС ==== */
/* CustomCheckbox.module.css */

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.hiddenCheckbox {
  opacity: 0; /* Скрываем настоящий чекбокс */
  position: absolute;
  width: 0;
  height: 0;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid #aaa;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.checked {
  background-color: #007bff; /* Заливка при активации */
  border-color: #007bff;
}

.checked::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/* ==== ЧЕК БОКС ==== */

.headerContainer {
	/* margin: 0px; */
	text-align:center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 10px; */
	/* background-color: #cfcdc3; */
	color: white;
	width: 100%;
	height: 250%;
	box-sizing: border-box;
	/* Дополнительная мера предосторожности */
	background-color: rgb(87, 113, 113);
}

.logo {
	height: 100%;
	/* height: auto; */
	text-align: center;
	padding: 5px;
	width: 14%;
	font-weight: bold;
	background-color: rgb(101, 130, 130);
	/* border-radius: 5px; */
}

.avatarImg {
	width: 25%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	/* margin-right: 10px; */
	background-color: rgb(213, 221, 228);
}

.userInfo {
	/* height: 300%; */
	/* height: 80px; */
	height: 100%;
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 16px;
	/* background-color: rgb(111, 124, 125); */
	background-color: rgb(101, 130, 130);
	/* border-radius: 5px; */
}

.clock {
	height: 176px;
	/* height: auto; */
	width: 42%;
	max-width: 180px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 16px;
	/* background-color: aqua; */
}

/* Стили для кнопки Вход */
.loginButton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.loginButton:hover {
  background-color: #0056b3;
}
