/* app/dashboard/salary-staff-table/styles/SalaryTable.module.css */
@import url('../../../../ui/global.css');

tr:nth-child(even) {
  background-color: #f9fafb;
}

th {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #6b7280;
  letter-spacing: 0.05em;
}
