<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Подключаем общий файл -->
    <link rel="stylesheet" type="text/css" href="{% static 'banya/css/global.css' %}" />
    <!-- Подключаем файл, специфичный для главной страницы -->
    <link rel="stylesheet" type="text/css" href="{% static 'banya/css/index.css' %}" />
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="conteiner">
        <h1>Это главная страница</h1>
        <a href="/hello">Перейти на страницу Hello</a><br>
        <a href="/about">Перейти на страницу About</a>
    </div>
    <div class="conteiner">
        <button onclick="goToPage('/hello')">Вход</button>
    </div>

    <!-- Подключаем JavaScript-файл -->
    <script src="{% static 'banya/js/script-button.js' %}"></script>

</body>

</html>
